.site-header, .footer {
    background-color: #3e9cbf;
}

.navbar > .navbar-item  {
    padding: 14px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

.navbar:first-child{
    margin-left: 12%;
}

.navbar {
    margin-bottom: 0;
}

.post,
.home {
    margin: 0 8%;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
}

.share {
    padding: 8px 0;
}

.share a {
    padding-left: 8px;
}

.post-list {
    margin-top: 17px;
}

.post-label {
    margin-top: 10px;
}



.sidebar {
    background: #3e9cbf;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 50px;
    -webkit-overflow-scrolling: touch;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
}

a:active,
a:hover {
    color: red;
    text-decoration: none;
}


.container {
    margin-left: 200px;
}

.panel-default {
    margin-top: 10px;
    margin-left: 210px;
    margin-right: 80px;
}

.progress {
    height: 12px;
    margin-bottom: 15px;
}

.progress-bar {
    line-height: 12px;
}