<footer class="footer">

    <nav class="navbar">
        <label class="navbar-item">About Me:</label>
        <a id="github" class="navbar-item fa fa-github" target="_blank" href="https://github.com/Manikandan-K"></a>
        <a class="navbar-item fa fa-twitter" target="_blank" href="https://twitter.com/KManikandan26"></a>
        <a class="navbar-item fa fa-facebook" target="_blank" href="http://fb.com/thoughtworker"></a>
        <a class="navbar-item fa fa-linkedin" target="_blank" href="http://in.linkedin.com/in/kmanikandan26"></a>
        <a class="navbar-item fa fa-stack-overflow" target="_blank" href="http://stackoverflow.com/users/1776116/manikandan"></a>
    </nav>

</footer>
